.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj
*.xcworkspace

# Compiled binaries
*.dSYM/
Tools/fel-boot
Tools/clover-exec
Tools/fel-memboot
Tools/fel-spl-only

# Temporary files
*.o
*.swp
*~
